/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* @import SimpleLightbox from "simplelightbox"; */




@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.home-list {
  font-size: 20px;
  font-weight: 900;
  color: #4e75ff;
}
.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
  padding: 100px 15px;
}

.gallery-item {
  width: calc((100% - 48px)/3);
}

.feedback-form {
  display:flex;
  flex-direction: column;
  column-gap: 8px;
  max-width: 360px;
  padding: 24px;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
  
}


.form-input {
  height: 40px;
}

.form-item {

    border: 1px solid #808080;
      border-radius: 4px;
      width: 360px;
    
  }

.feedback-form-btn {
  border-radius: 8px;
  width: 100px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: 2px solid #4e75ff;
  transition: background-color 250ms linear, color 250ms linear;
}

.feedback-form-btn:hover,
.feedback-form-btn:focus {
  background-color: #fff;
  color: #6C8CFF;
  border: 2px solid #000000;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(46, 47, 66, 1);
}